.HomeSection {
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    background-position: center;
    width: 100%;
    display: table;
    position: relative;
}

.TitlePosition {
    display: table-cell;
    vertical-align: middle;
}

.Title {
    text-align: center;
    margin: 0;
    font-size: 54px;
    color: #FFFFFF;
}

.Vision {
    margin-top: 12px;
}

.TitleVision {
    font-size: 76px;
    text-transform: uppercase;
    color: #aba9a9;
    margin: 0;
    letter-spacing: 10px;
}

.VisionText {
    position: relative;
    top: -88px;
    font-size: 22px;
    letter-spacing: 0px;
}

.VisionContainer {
    padding-top: 30px;
}

@media (min-width: 768px) {
    .Title {
        font-size: 70px;
    }
    .TitleVision {
        font-size: 95px;
    }
    .Vision {
        padding: 50px 0;
    }
    .VisionText {
        font-size: 30px;
        top: -123px;
    }
}