.LinksList {
    list-style: none;
    margin: 0;
    position: absolute;
    right: 0;
    display: none;
}

.Title {
    color: #FFFFFF;
}

.TitleLink {
    text-decoration: none;
    
}

.BurgerIcon {
    position: absolute !important;
    right: 0;
}

@media (min-width: 768px) {
    .BurgerIcon {
        display: none !important;
    }
    .LinksList {
        display: inline-flex;
    }
}